
/* Globals */

:root {
  --sidebar-width: 300px;
  --sidebar-resize-indicator-width: 8px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 80%;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */;

  --nh-yellow: #ffcc75;
  --nh-dark-red: #982135;
  --nh-light-red: #ff003a;
  --nh-orange: #ff5e0e;
  --nh-black: #2d334f;
  --nh-dark-grey: #3a3a3a;
  --nh-grey: #666666;
  --nh-light-grey: #c8c9db;
  --nh-white: #fff;
}

/* Themes */
.dark {
  --bg: var(--nh-dark-grey);
  --fg: var(--nh-white);

  --sidebar-bg: var(--nh-dark-red);
  --sidebar-fg: var(--nh-white);
  --sidebar-non-existant: var(--nh-white);
  --sidebar-active: var(--nh-orange);
  --sidebar-spacer: var(--nh-dark-grey);

  --scrollbar: var(--sidebar-fg);

  --icons: var(--nh-white);
  --icons-hover: var(--nh-orange);

  --links: var(--nh-orange);

  --inline-code-color: var(--nh-black);

  --theme-popup-bg: var(--dark-grey);
  --theme-popup-border: var(--nh-light-grey);
  --theme-hover: var(--nh-orange);

  --quote-bg: var(--nh-dark-red);
  --quote-border: var(--nh-light-red);

  --warning-border: #ff8e00;

  --table-border-color: var(--nh-light-grey);
  --table-header-bg: var(--nh-grey);
  --table-alternate-bg: var(--nh-grey);

  --searchbar-border-color: var(--nh-light-grey);
  --searchbar-bg: var(--nh-dark-grey);
  --searchbar-fg: var(--nh-white);
  --searchbar-shadow-color: var(--nh-orange);
  --searchresults-border-color: var(--nh-light-grey);
  --searchresults-li-bg: magenta;
  --search-mark-bg: var(--nh-light-red);

  --color-scheme: dark;
}

.light {
  --bg: var(--nh-white);
  --fg: var(--nh-black);

  --sidebar-bg: var(--nh-dark-grey);
  --sidebar-fg: var(--nh-light-grey);
  --sidebar-non-existant: var(--nh-light-grey);
  --sidebar-active: var(--nh-orange);
  --sidebar-spacer: var(--nh-light-grey);

  --scrollbar: var(--sidebar-bg);

  --icons: var(--nh-dark-grey);
  --icons-hover: var(--nh-orange);

  --links: var(--nh-dark-red);

  --inline-code-color: var(--nh-dark-grey);

  --theme-popup-bg: var(--nh-white);
  --theme-popup-border: var(--nh-dark-grey);
  --theme-hover: var(--nh-orange);

  --quote-bg: var(--nh-light-grey);
  --quote-border: hsl(226, 15%, 22%);

  --warning-border: #ff8e00;

  --table-border-color: var(--nh-dark-grey);
  --table-header-bg: var(--nh-light-grey);
  --table-header-fg: var(--nh-white);
  --table-alternate-bg: var(--nh-light-grey);

  --searchbar-border-color: var(--nh-light-grey);
  --searchbar-bg: var(--nh-dark-grey);
  --searchbar-fg: var(--nh-white);
  --searchbar-shadow-color: var(--nh-orange);
  --searchresults-border-color: var(--nh-light-grey);
  --searchresults-li-bg: magenta;
  --search-mark-bg: var(--nh-light-red);

  --color-scheme: light;
}
